<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Title %></title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
        <form method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%=Task.title%>"/>
        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="<%=Task.description%>" /> 
        <label for="deadline">Deadline</label>
        <input type="datetime-local" name="deadline" id="deadline" value="<%=new Date(Task.deadline).toISOString().slice(0, 16)%>" />
        <input hidden name="id" value='<%=Task.id%>' />
        <button type="submit">Edit</button>
    </form>
    <% if (Message) { %>
        <p><%= Message %></p>
    <% } %>
    <% if (Errors) { %>
        <ul>
            <% Errors.forEach((error) => { %>
                <li><%= error.message %></li>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>