<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <a href="/create">Create task</a>
        <a href="/logout">Logout</a>
    </header>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <% if (Tasks) { %>
                <% Tasks.forEach((element)=> { %>
                    <tr>
                        <td>
                            <%= element.title %>
                        </td>
                        <td>
                            <%= element.description %>
                        </td>
                        <td>
                            <%= new Date(element.deadline).toLocaleDateString() %>
                        </td>
                        <td key="<%= element.id%>"><a href="/edit/<%= element.id %>">Edit</a> <a href="/delete/<%=element.id%>">Delete</a></td>
                    </tr>
                    <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="4">There is no task</td>
                            </tr>
                    <% } %>
        </tbody>
    </table>
</body>

</html>